{% extends "base.html" %}
{% block title %}
home
{% endblock title%}
{% block body %}
<h2>student form</h2>
<form action="/" method="post">
  <div class="container">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control"  name="title" id="title">
  </div>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control"  name="username"  id="username" >
  </div>
  <!-- <div class="mb-3">
    <label for="email" class="form-label">Email </label>
    <input type="email" class="form-control"   name="email"  id="email">
  </div> -->
  
  <div class="mb-3">
    <label for="desc" class="form-label">Description</label>
    <input type="text" class="form-control"  name="desc"   id="desc">
  </div>
  
  <button type="submit" class="btn btn-dark">Submit</button>
</form>
</div>
<div class="container">
<table class="table" >
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Title</th>
        <!-- <th scope="col">Email</th> -->
        <th scope="col">Description</th>
        <th scope="col">Time</th>
        <th scope="col">Actions</th>

      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <th scope="row">{{student.id}}</th>
        <td>{{student.title}}</td>
        <td>{{student.username}}</td>
        <td>{{student.desc}}</td>
        <td>{{student.date_created}}</td>
        <td>
          <a href="/delete/{{student.id}}" type="button" class="btn btn-outline-dark mx-2">Delete</button>
            <a href="/update/{{student.id}}"type="button" class="btn btn-outline-dark mx-2">Update</a></button>
        </td>
      </tr>
      {% endfor %}
      

    </tbody>
  </table>
</div>
  {% endblock body%}