{% extends "base.html" %}
{% block title %}
home
{% endblock title%}
{% block body %}
<h2>Update from</h2>
<form action="/update/{{students.id}}" method="post">
    <div class="container">
    <div class="mb-3">
        
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control"  name="title"   value="{{students.title}}" id="title">
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control"  name="username"    value="{{students.username}}" id="username" >
    </div>
    
    <div class="mb-3">
      <label for="desc" class="form-label">Description</label>
      <input type="text" class="form-control"  name="desc"   value="{{students.desc}}" id="desc">
    </div>
    
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
  </div>
  {% endblock body%}